.side {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    background: linear-gradient(to right, #005c97, #363795);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0 2px 5px #aaa;
    padding-top: 2px;
    
    
}

.card {
    margin-top: 7px;
    align-content: center;
    color: blue;
    
    
    
}

.card:hover {
    box-shadow: 0 7px 30px -10px whitesmoke;
    transform: scale(1.05);
    transition: transform .3s ease;
}

.back {
    box-sizing: border-box;
    border-radius: 1px;
    background: black;
    color: whitesmoke;
}

.backBox {
    background-color: white;
    color: blue;
    
}

.img{
    align-items: center;
}

@media screen and (max-width: 768px) {
   
    .side {
        display: block;
        width: 100%;
        border-radius: 0;
        box-shadow: 0;
        box-sizing: 0;
    }

    .img {
        width: 100%;
        object-fit: scale-down;
    }
 
}